abind                "4.2.0"
acs                  "4.2.0"
anomaly              "4.2.0"
AnomalyDetection     "4.2.1"
ape                  "4.2.0"
askpass              "4.2.0"
assertive            "4.2.0"
assertive.base       "4.2.0"
assertive.code       "4.2.0"
assertive.data       "4.2.0"
assertive.data.uk    "4.2.0"
assertive.data.us    "4.2.0"
assertive.datetimes  "4.2.0"
assertive.files      "4.2.0"
assertive.matrices   "4.2.0"
assertive.models     "4.2.0"
assertive.numbers    "4.2.0"
assertive.properties "4.2.0"
assertive.reflection "4.2.0"
assertive.sets       "4.2.0"
assertive.strings    "4.2.0"
assertive.types      "4.2.0"
assertthat           "4.2.0"
backports            "4.2.0"
base                 "4.2.1"
base64enc            "4.2.0"
BH                   "4.2.0"
BiocGenerics         "4.2.0"
BiocManager          "4.2.0"
BiocVersion          "4.2.0"
bit                  "4.2.0"
bit64                "4.2.0"
bitops               "4.2.0"
blob                 "4.2.0"
boot                 "4.2.1"
brew                 "4.2.0"
brio                 "4.2.0"
broom                "4.2.0"
broom.helpers        "4.2.0"
bslib                "4.2.1"
cachem               "4.2.1"
callr                "4.2.0"
car                  "4.2.0"
carData              "4.2.0"
caret                "4.2.0"
caTools              "4.2.0"
cellranger           "4.2.0"
centiserve           "4.2.0"
checkmate            "4.2.0"
choroplethr          "4.2.0"
choroplethrMaps      "4.2.0"
CINNA                "4.2.0"
circlize             "4.2.0"
class                "4.2.1"
classInt             "4.2.0"
cli                  "4.2.1"
clipr                "4.2.0"
clock                "4.2.0"
cluster              "4.2.0"
coda                 "4.2.0"
codetools            "4.2.1"
collections          "4.2.0"
colorspace           "4.2.0"
commonmark           "4.2.1"
compiler             "4.2.1"
conflicted           "4.2.0"
corrplot             "4.2.0"
cowplot              "4.2.0"
cpp11                "4.2.1"
crayon               "4.2.0"
credentials          "4.2.0"
crosstalk            "4.2.0"
curl                 "4.2.1"
cyclocomp            "4.2.0"
data.table           "4.2.0"
data.world           "4.2.1"
datasets             "4.2.1"
datawizard           "4.2.0"
DBI                  "4.2.0"
dbplyr               "4.2.1"
deldir               "4.2.0"
dendextend           "4.2.0"
DEoptimR             "4.2.0"
desc                 "4.2.0"
devtools             "4.2.0"
diffobj              "4.2.0"
digest               "4.2.1"
doParallel           "4.2.0"
downlit              "4.2.0"
dplyr                "4.2.1"
dslabs               "4.2.0"
DT                   "4.2.0"
dtplyr               "4.2.0"
dtt                  "4.2.0"
dwapi                "4.2.1"
e1071                "4.2.0"
EBImage              "4.2.0"
ellipse              "4.2.0"
ellipsis             "4.2.0"
emmeans              "4.2.0"
epanetReader         "4.2.0"
estimability         "4.2.0"
evaluate             "4.2.1"
factoextra           "4.2.0"
FactoMineR           "4.2.0"
fansi                "4.2.1"
farver               "4.2.0"
fastmap              "4.2.0"
fftwtools            "4.2.0"
fit.models           "4.2.0"
flashClust           "4.2.0"
fontawesome          "4.2.1"
forcats              "4.2.0"
foreach              "4.2.0"
foreign              "4.2.0"
Formula              "4.2.0"
fs                   "4.2.1"
future               "4.2.0"
future.apply         "4.2.0"
gapminder            "4.2.0"
gargle               "4.2.0"
gdalcubes            "4.2.0"
generics             "4.2.0"
gert                 "4.2.0"
GGally               "4.2.1"
ggforce              "4.2.0"
ggmap                "4.2.0"
ggnetwork            "4.2.0"
ggplot2              "4.2.0"
ggpubr               "4.2.0"
ggraph               "4.2.0"
ggrepel              "4.2.1"
ggsci                "4.2.0"
ggsignif             "4.2.0"
ggspatial            "4.2.0"
ggstats              "4.2.1"
ggthemes             "4.2.0"
gh                   "4.2.0"
gitcreds             "4.2.0"
GlobalOptions        "4.2.0"
globals              "4.2.0"
glue                 "4.2.0"
googleAuthR          "4.2.0"
googledrive          "4.2.0"
googlesheets4        "4.2.0"
gower                "4.2.0"
graphics             "4.2.1"
graphlayouts         "4.2.0"
grDevices            "4.2.1"
grid                 "4.2.1"
gridExtra            "4.2.0"
gtable               "4.2.0"
hardhat              "4.2.0"
haven                "4.2.0"
hellno               "4.2.0"
here                 "4.2.0"
highcharter          "4.2.0"
highr                "4.2.1"
Hmisc                "4.2.0"
hms                  "4.2.0"
htmlTable            "4.2.0"
htmltools            "4.2.1"
htmlwidgets          "4.2.1"
httpuv               "4.2.0"
httr                 "4.2.0"
ids                  "4.2.0"
igraph               "4.2.0"
ini                  "4.2.0"
insight              "4.2.0"
intergraph           "4.2.0"
interp               "4.2.0"
ipred                "4.2.0"
isoband              "4.2.0"
iterators            "4.2.0"
janeaustenr          "4.2.0"
jpeg                 "4.2.0"
jquerylib            "4.2.0"
jsonlite             "4.2.1"
KernSmooth           "4.2.1"
knitr                "4.2.1"
labeling             "4.2.0"
labelled             "4.2.0"
languageserver       "4.2.0"
later                "4.2.0"
lattice              "4.2.1"
latticeExtra         "4.2.0"
lava                 "4.2.0"
lazyeval             "4.2.0"
leaps                "4.2.0"
learnr               "4.2.0"
lifecycle            "4.2.1"
lintr                "4.2.1"
listenv              "4.2.0"
lme4                 "4.2.0"
locfit               "4.2.0"
lubridate            "4.2.0"
lwgeom               "4.2.0"
magick               "4.2.0"
magrittr             "4.2.0"
maptools             "4.2.0"
markdown             "4.2.0"
MASS                 "4.2.0"
Matrix               "4.2.0"
MatrixModels         "4.2.0"
memoise              "4.2.0"
methods              "4.2.1"
mgcv                 "4.2.0"
mime                 "4.2.0"
miniUI               "4.2.0"
minqa                "4.2.0"
misc3d               "4.2.0"
mnormt               "4.2.0"
ModelMetrics         "4.2.0"
modelr               "4.2.0"
multcompView         "4.2.0"
munsell              "4.2.0"
mvtnorm              "4.2.0"
ncdf4                "4.2.0"
network              "4.2.0"
nlme                 "4.2.0"
nloptr               "4.2.0"
NLP                  "4.2.0"
nnet                 "4.2.0"
node2vec             "4.2.0"
numDeriv             "4.2.0"
openssl              "4.2.0"
openxlsx             "4.2.0"
orientlib            "4.2.0"
pacman               "4.2.0"
pageviews            "4.2.0"
pak                  "4.2.1"
parallel             "4.2.1"
parallelly           "4.2.0"
patchwork            "4.2.0"
pbkrtest             "4.2.0"
pcaPP                "4.2.0"
PerformanceAnalytics "4.2.0"
permute              "4.2.0"
pheatmap             "4.2.0"
pillar               "4.2.0"
pkgbuild             "4.2.0"
pkgconfig            "4.2.0"
pkgdown              "4.2.0"
pkgload              "4.2.0"
plot3D               "4.2.0"
plot3Drgl            "4.2.0"
plotly               "4.2.0"
plyr                 "4.2.0"
png                  "4.2.0"
polyclip             "4.2.0"
polynom              "4.2.0"
praise               "4.2.0"
prettymapr           "4.2.0"
prettyunits          "4.2.0"
pROC                 "4.2.0"
processx             "4.2.1"
prodlim              "4.2.0"
profvis              "4.2.0"
progress             "4.2.0"
progressr            "4.2.0"
promises             "4.2.0"
proxy                "4.2.0"
ps                   "4.2.1"
psych                "4.2.0"
psychTools           "4.2.0"
purrr                "4.2.0"
quadprog             "4.2.0"
quantmod             "4.2.0"
quantreg             "4.2.0"
R.cache              "4.2.0"
R.methodsS3          "4.2.0"
R.oo                 "4.2.0"
R.utils              "4.2.1"
R6                   "4.2.0"
ragg                 "4.2.0"
randomForest         "4.2.0"
rappdirs             "4.2.0"
raster               "4.2.0"
rayimage             "4.2.0"
rayshader            "4.2.0"
rbibutils            "4.2.0"
rclinicaltrials      "4.2.1"
rcmdcheck            "4.2.0"
RColorBrewer         "4.2.0"
Rcpp                 "4.2.0"
RcppArmadillo        "4.2.0"
RcppEigen            "4.2.0"
RcppProgress         "4.2.0"
RcppTOML             "4.2.0"
RCurl                "4.2.0"
Rdpack               "4.2.0"
readr                "4.2.0"
readxl               "4.2.0"
recipes              "4.2.0"
RedditExtractoR      "4.2.0"
rematch              "4.2.0"
rematch2             "4.2.0"
remotes              "4.2.0"
renv                 "4.2.0"
reprex               "4.2.0"
reshape              "4.2.0"
reshape2             "4.2.0"
reticulate           "4.2.0"
rex                  "4.2.0"
rgdal                "4.2.0"
rgl                  "4.2.0"
rglwidget            "4.2.0"
RgoogleMaps          "4.2.0"
rjson                "4.2.0"
RJSONIO              "4.2.0"
rlang                "4.2.1"
rlist                "4.2.0"
rmarkdown            "4.2.1"
RMySQL               "4.2.1"
rnaturalearth        "4.2.0"
rnaturalearthdata    "4.2.0"
robust               "4.2.0"
robustbase           "4.2.0"
rosm                 "4.2.0"
roxygen2             "4.2.0"
rpart                "4.2.0"
RPostgreSQL          "4.2.0"
rprojroot            "4.2.0"
rrcov                "4.2.0"
rstatix              "4.2.0"
rstudioapi           "4.2.0"
runner               "4.2.0"
rversions            "4.2.0"
rvest                "4.2.0"
s2                   "4.2.0"
sass                 "4.2.1"
scales               "4.2.0"
scatterplot3d        "4.2.0"
seewave              "4.2.0"
selectr              "4.2.0"
sessioninfo          "4.2.0"
sf                   "4.2.0"
shape                "4.2.0"
shiny                "4.2.0"
signal               "4.2.0"
sjlabelled           "4.2.0"
sjmisc               "4.2.0"
slam                 "4.2.0"
sna                  "4.2.0"
SnowballC            "4.2.0"
sourcetools          "4.2.0"
sp                   "4.2.0"
SparseM              "4.2.0"
spatial              "4.2.1"
splines              "4.2.1"
SQUAREM              "4.2.0"
stars                "4.2.1"
statnet.common       "4.2.0"
stats                "4.2.1"
stats4               "4.2.1"
stringi              "4.2.0"
stringr              "4.2.1"
styler               "4.2.0"
survival             "4.2.0"
sys                  "4.2.0"
systemfonts          "4.2.0"
syuzhet              "4.2.0"
tcltk                "4.2.1"
terra                "4.2.0"
terrainmeshr         "4.2.0"
testthat             "4.2.0"
textdata             "4.2.0"
textshape            "4.2.0"
textshaping          "4.2.0"
tibble               "4.2.0"
tidycensus           "4.2.0"
tidygraph            "4.2.0"
tidyr                "4.2.0"
tidyselect           "4.2.0"
tidytext             "4.2.0"
tidyverse            "4.2.0"
tiff                 "4.2.0"
tigris               "4.2.0"
timechange           "4.2.0"
timeDate             "4.2.0"
tinytex              "4.2.1"
tm                   "4.2.1"
tokenizers           "4.2.0"
tools                "4.2.1"
TTR                  "4.2.0"
tuber                "4.2.0"
tuneR                "4.2.0"
tweenr               "4.2.0"
tzdb                 "4.2.0"
udpipe               "4.2.0"
units                "4.2.0"
urlchecker           "4.2.0"
usethis              "4.2.0"
utf8                 "4.2.1"
utils                "4.2.1"
uuid                 "4.2.0"
vctrs                "4.2.1"
vegan                "4.2.0"
viridis              "4.2.0"
viridisLite          "4.2.0"
visNetwork           "4.2.1"
vroom                "4.2.0"
waldo                "4.2.0"
WDI                  "4.2.0"
whisker              "4.2.0"
wikipediatrend       "4.2.0"
WikipediR            "4.2.0"
withr                "4.2.1"
wk                   "4.2.0"
word2vec             "4.2.0"
wordcloud            "4.2.0"
xfun                 "4.2.1"
XML                  "4.2.1"
xml2                 "4.2.0"
xmlparsedata         "4.2.0"
xopen                "4.2.0"
xtable               "4.2.0"
xts                  "4.2.0"
yaml                 "4.2.1"
youtubeAnalyticsR    "4.2.1"
zip                  "4.2.1"
zoo                  "4.2.0"